.color-yellow {
    color: #f7da38 !important;
}


body {
    font-family: 'utmavo', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    color: #646464;
    background-color: #ffffff;
    overflow-x: hidden !important;
}

.desc-content {
    padding: 10px;
    background: #f3f3f3;
    margin: 5px 0px 5px 20px;
    font-style: italic;
}

#sub-page-content {
    padding-top: 10px;
}

.blog-full-width {
    padding: 0px;
}

    .blog-full-width.blog-detail .blog-content {
        padding: 15px;
        padding-top: 0px;
        margin-top: -10px;
    }

.nav-tags li {
    display: inline-block;
    color: #fff;
    padding: 5px;
    padding-top: 10px;
}

    .nav-tags li a {
        color: #fff;
        font-weight: bold;
    }

.post-s {
    padding: 15px;
    border-radius: 13px;
    overflow: hidden;
    max-width: 230px;
}

    .post-s img {
        border-bottom: 0px solid #007793;
    }

.bai-viet .col-md-4 {
    padding: 3px;
}

.bai-viet .post_img {
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #3d91a5;
}

.post {
    /*border-right: 1px dashed #f3f3f3;
    padding-right: 15px;
    border-left: 1px dashed #f3f3f3;
    padding-left: 15px;*/
}

.col-news {
    height: 285px;
}

.post h1 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
}

.post h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
}

.post h3 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
}

.post h4 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
}

.post h5 {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: none;
}

.post .bai-viet .col-md-4 {
    padding: 15px;
}

.clear {
    clear: both;
}

.qui-trinh {
    background: rgba(62, 178, 236, 0.17) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px #f3f3f3;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 119, 147, 0.4);
}

.col-news h3 {
    font-weight: inherit;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
    text-transform: none;
}

    .col-news h3 a {
        color: #504e4e;
        font-size: 0.75em;
        display: block;
        height: 40px;
        line-height: 1.5em;
        font-weight: bold;
    }
/*-----------------------------------------------------*/
.blog-content {
    font-size: 12px;
    line-height: 17px;
    font-family: arial;
}

    .blog-content.short {
        max-height: 405px;
        overflow: hidden;
    }

    .blog-content.full {
    }

.more-view {
    position: absolute;
    margin-top: -25px;
    border-top: 30px solid rgba(255, 255, 255, 0.82);
    width: 100%;
}

.read-more {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 2px;
}
/*-----------------------------------------------------*/
.bv-cm {
    border-bottom: 1px solid #e4e6e6;
    color: #646667;
    padding: 10px;
    font-weight: 400;
    text-transform: none;
    background: #f3f3f3;
    border-radius: 10px;
    border-top: 1px solid #daddde;
    font-size: 1.5em;
}

.blog-content p {
    color: #616161;
    line-height: 1.42857;
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: justify;
    padding: 6px;
}

.noi-bat {
    background: rgba(62, 178, 236, 0.17) none repeat scroll 0 0;
    border: 1px #ffa800 dashed;
    border-radius: 10px;
    padding: 15px 25px 15px;
}

.lien-quan {
    background: url(../ba-iviet-ban-quan-tam.png) no-repeat 16px 12px #fffbf3;
    border: 1px #ffa800 dashed;
    border-radius: 10px;
    padding: 50px 25px 16px;
}

    .lien-quan li {
        list-style: none;
        padding: 5px;
    }

    .lien-quan a {
        color: #008BAD;
    }

.lien-quan-2 {
    background: #fffbf3;
    border: 1px #ffa800 dashed;
    border-radius: 10px;
    padding: 15px 25px 15px;
}

    .lien-quan-2 li {
        list-style: none;
        padding: 5px;
    }

    .lien-quan-2 a {
        color: #008BAD;
    }

.slider-revolution-overlay {
    /*background: url(../images/slider2-overlay.png) repeat #0a9d94;*/
}

footer.light {
    background: #007793;
    color: #fff;
}

    footer.light .footer-nav li a {
        background-color: transparent;
        color: #fff;
    }

    footer.light .copyright {
        background: #949494;
        border-bottom: 1px solid #155869;
        color: #007793;
    }

.btnActive {
    width: 5px;
    background: #ffa800;
    padding: 5px 15px 5px 15px;
    color: #fff;
    border-radius: 10px;
}

.btnPager {
    display: block;
    width: 5px;
    float: left;
    background: #1184ae;
    padding: 5px 20px 5px 15px;
    color: #fff;
    border-radius: 10px;
    margin-top: -5px;
    margin-right: 2px;
}

    .btnPager:hover {
        background: #ffa800;
        color: #fff;
    }

footer h4 span {
    border-bottom: 1px solid #fecb00;
}

.footer-widget h4 {
    color: #fecb00;
}

footer.light .footer-bottom-text {
    color: #FFC107;
}

footer.light .contact-widget p a {
    color: #fff;
}

footer.light .contact-widget i {
    color: #fecb00;
}

footer.light .newsletter i {
    color: #fecb00;
}

.footer-widget .twitter-widget a {
    color: #DFB025;
}

footer.light .tweet i {
    color: #b4b4b4;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}

.back-to-top.to-top {
    bottom: 40%;
}

.item {
    /*margin-top: 50px;*/
}

.item-b {
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid rgba(158, 158, 158, 0.34);
    height: 212px;
    width: 212px;
    border-radius: 50%;
    overflow: hidden;
}

.item .img_home {
    border: 1px solid rgba(158, 158, 158, 0.34);
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.item h3 {
    /*border-bottom: 1px solid #3d91a5;*/
    padding-bottom: 5px;
    font-size: 1.4em;
    color: #007793;
}

.panel-group .panel {
    border: 1px solid #007793;
    border-radius: 3px 5px 0px 0px;
}

.cl-white {
    color: #fff;
}

.slider-revolution .navbar-default .navbar-nav li.dropdown .dropdown-menu {
    background: rgba(0, 119, 147, 0.95) !important;
}

.dropdown-menu a strong {
    font-weight: 500;
}

.dropdown-menu a:hover strong {
    color: #ffa800 !important;
}

.dropdown-submenu li a:hover {
    color: #ffa800 !important;
}

.navbar-nav li.mega-menu-item .mega-menu {
    background: rgba(0, 119, 147, 0.95) !important;
    border-radius: 0 0 13px 13px;
    border: 1px solid rgb(229, 169, 35);
}

.navbar-nav li .mega-menu ul li strong {
    color: #FFC107;
}

.navbar-nav > li:hover ul li a {
    color: #fff !important;
}

    .navbar-nav > li:hover ul li a:hover {
        color: #FFC107 !important;
    }

.slider-revolution .navbar-default .navbar-nav li.dropdown .dropdown-menu a {
    border-bottom: 1px solid rgba(224, 224, 224, 0.05);
}

.slider-revolution .navbar-nav li .mega-menu ul li a {
    padding-left: 0px;
}

.fixed-header.small-header .slider-revolution .medicom-header li.dropdown:hover .dropdown-menu li a, .fixed-header.small-header .slider-revolution .medicom-header li.mega-menu-item:hover .mega-menu li a {
    color: #fff !important;
}

.fixed-header.small-header .slider-revolution .medicom-header li.dropdown:hover .dropdown-menu li a, .fixed-header.small-header .slider-revolution .medicom-header li.mega-menu-item:hover .mega-menu ul li a:hover {
    color: #fff !important;
}

.fixed-header .medicom-header li dropdown a:hover {
    color: #ffa800 !important;
}

.f-img {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 320px;
}

.footer-nav li {
    float: none;
    width: 100%;
}

.popular-post {
    padding: 19px 0;
    border-bottom: 1px solid #f0f0f0;
    float: none;
    height: 100px;
}

.window {
    display: block;
}

.mobile {
    display: none;
}

.b-odd {
    text-align: center;
    color: #fff;
    /*margin:2px;*/
    padding: 5px;
    box-shadow: 1px 1px 1px #f3f3f3;
    /*border-radius:5px;*/
    background: #007793;
}

.b-2 {
    text-align: center;
    color: #fff;
    /*margin:2px;*/
    padding: 5px;
    box-shadow: 1px 1px 1px #f3f3f3;
    /*border-radius:5px;*/
    background: #F5C62B;
}

.b-odd i {
    font-size: 3em;
}

.title-a {
    display: block;
    text-align: left;
    padding-left: 5px !important;
    background: rgba(255, 255, 255, 0.06) !important;
    padding-bottom: 0px !important;
}

.b-2 i {
    font-size: 3em;
}

.navbar-nav li .mega-menu ul li strong {
    font-size: 13px;
}

@media (min-width: 768px) {

    .fixed-header.small-header .slider-revolution .medicom-header {
        position: fixed;
        background: #007793;
    }

        .fixed-header.small-header .slider-revolution .medicom-header li a {
            color: #fff;
        }

        .fixed-header.small-header .slider-revolution .medicom-header li:hover a {
            color: #FECB2D !important;
        }

    .dropdown-menu {
        width: 250px;
    }

    .fixed-header.small-header .slider-revolution .medicom-header li.dropdown .dropdown-menu, .fixed-header.small-header .slider-revolution .medicom-header li.mega-menu-item .mega-menu {
        border-top: 6px solid #007793;
        width: 250px;
    }

        .fixed-header.small-header .slider-revolution .medicom-header li.dropdown .dropdown-menu li a, .fixed-header.small-header .slider-revolution .medicom-header li.mega-menu-item .mega-menu li a:hover {
            color: #ffa800;
        }
}

@media only screen and (max-width: 768px) {
    .qui-trinh .col-md-2 {
        width: 119px;
        float: left;
        padding: 0;
    }

        .qui-trinh .col-md-2 div {
            height: 135px;
        }

    .col-news {
        max-width: 230px;
        float: left;
    }

        .col-news .post_img img {
            width: 100%;
        }

    .edit-f {
        margin-bottom: -30px;
    }

    .dich-vu .item {
        margin-top: 50px;
        max-width: 375px;
        float: left;
    }

    .windows {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    .creative-sec {
        min-height: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .qui-trinh .col-md-2 {
        width: 95px;
        float: left;
        padding: 0;
    }

    .navbar-default .dropdown-menu > li > a {
        background-color: rgba(69, 155, 180, 0.38)!important;
    }

    .window {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    .creative-sec h1 {
        font-size: 1.2em !important;
    }

    .navbar-nav {
        background: #808080;
        padding: 10px;
        border-radius: 15px;
    }

    .slider-revolution .navbar-default .navbar-nav a, .slider-revolution .navbar-default .navbar-nav a:hover {
        padding-bottom: 11px;
        border-color: #fff !important;
        color: #fff !important;
        border-bottom: 0!important;
        border-top: 1px dashed #696565;
    }

    .slider-revolution .navbar-default .navbar-nav li.mega-menu-item .mega-menu {
        padding: 0!important;
        background: #9c9c9c;
        border-radius: 9px;
    }

    .slider-revolution .navbar-default .navbar-nav li.dropdown .dropdown-menu a {
        color: #fff !important;
        border-top: 1px dashed #d4d4d4 !important;
    }

    .title-a {
        text-transform: uppercase;
        padding: 7px !important;
    }

    .navbar-default .navbar-nav li.dropdown .dropdown-menu a {
        padding: 10px 0 4px 13px !important;
    }

    .navbar-default .navbar-nav li.dropdown .dropdown-menu ul li a {
        padding-left: 1px !important;
    }
}
